
nav{
    color:whitesmoke;
    background-color: rgb(102, 77, 160);
    display: flex;
}
.product img{
    width: 200px;
    height: 200px;
}
.product {
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
  }
.products{
    display:flex;
    flex-direction:row; 
}
